<!DOCTYPE html>
<html lang="en" data-ng-app="tasklistApp" data-ng-controller="tasklistCtrl as tctrl">
<head>
	<meta charset="utf-8" />
	<title>Tasklist Controle</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<base href="@Href("~/")" />
</head>
<body>

	<div class="container body-content">
		@RenderBody()

		<data ui-view></data>

		<hr />

		<footer>
			<p>&copy; @DateTime.Now.Year - Tasklist</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	<script src="@Url.Content("~/Scripts/angular.min.js")"></script>
	<script src="@Url.Content("~/Scripts/modules/angular-ui-router.min.js")"></script>
	<script src="@Url.Content("~/Scripts/modules/ocLazyLoad.min.js")"></script>

	@RenderSection("scripts", required: false)
</body>
</html>
